{% extends "base.html" %}
{% block title %}เข้าสู่ระบบ{% endblock %}

{% block content %}
<div class="card" style="max-width: 500px; margin: auto;">
    <h2>ล็อกอิน</h2>
    <form method="post">
        <label>อีเมล</label>
        <input type="email" name="email" required>

        <label>รหัสผ่าน</label>
        <input type="password" name="password" required>

        <button class="btn" type="submit">เข้าสู่ระบบ</button>
    </form>

    <p><a href="{{ url_for('forgot_password') }}">ลืมรหัสผ่าน?</a></p>
</div>
{% endblock %}
